.tag {
  background-color: @gray-light;
  .br-sm();
  padding: @spacing-extra-small @spacing-extra-small @spacing-extra-small @spacing-small;
  font-size: @font-size-small;
  display: inline-block;
  margin: 0 6px 6px 0;
  color: @gray;
  a {
    color: @gray-medium;
  }
  a:hover {
    color: @gray;
  }
}