/* Border radius */
@border-radius-none: 0;
@border-radius-extra-small: 0.125rem;
@border-radius-small: 0.25rem;
@border-radius-medium: 0.5rem;
@border-radius-large: 1rem;
@border-radius-round: 100%;

.br-0 {border-radius: @border-radius-none;}
.br-xs {border-radius: @border-radius-extra-small;}
.br-sm {border-radius: @border-radius-small;}
.br-md {border-radius: @border-radius-medium;}
.br-lg {border-radius: @border-radius-large;}
.br-round {border-radius: @border-radius-round;}

.br--b {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.br--t {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.br--r {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.br--l {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Border styles */

.br-right-0 {
	border-right: none;
}

.br-left-0 {
	border-left: none;
}

.br-top-0 {
	border-top: none !important;
}

.b-none {
	border: none;
}

.border {border: solid 1px @border-color;}

.border-b {
	border-top: none;
	border-left: none;
	border-right: none;
}

.border-t {
	border-bottom: none;
	border-left: none;
	border-right: none;
}